.section-3
    .container
        .section-3__wrap
                
            .section-3__wrap
                
                    img( src="assets/Img/section-3_bg3.svg" alt="" class="section-3__bg3")
                    img(src="assets/Img/section-3_bg1.svg" alt="" class="section-3__bg1") 
                    .section-3__image-main
                        img(src="assets/Img/section-3_Image_main.png" alt="")
                    
                    .section-3__content
                        h1.section-3__title
                            |    Thêm Một Bạn
                        
                        h2.section-3__subtitle
                          |  Thêm Ngàn Niềm Vui!
                       
                        p.section-3__desc
                        |    Có một con thú cưng đồng nghĩa với việc bạn có thêm niềm vui mới. Chúng tôi có hơn 200 con thú cưng khác nhau có thể đáp ứng nhu cầu của bạn!
                        
                        .section-3__buttons
                            a(href="#" class="button button--outline")
                                |Giới Thiệu <i class="fa-regular fa-circle-play"></i>
                            
                            a(href="#" class="button")
                             |     Khám Phá Ngay
                    img(src="assets/Img/section-3_bg2.svg" alt="" class="section-3__bg2")
                    img(src="assets/Img/section-3_bg4.svg" alt="" class="section-3__bg4")