extends ../layout/default.pug
block title
    title Trang chủ
    

block main
    //section-1
    .section-1
        .container
            .section-1__wrap
                img(src="assets/Img/section-1_bg8.svg" class="section-1__bg8" alt="")
                img(src="assets/Img/section-1_bg1.svg" class="section-1__bg1" alt="")
                
                .section-1__content
                        h1.section-1__title
                            |Thêm Một Bạn
    
                        h2.section-1__subtitle
                            |Thêm Ngàn Niềm Vui!
    
                        p.section-1__desc
                            |Có một con thú cưng đồng nghĩa với việc bạn có thêm niềm vui mới. Chúng tôi có hơn 200 con thú cưng khác nhau có thể đáp ứng nhu cầu của bạn!

                        .section-1__buttons
                            a(href="#" class="button button--outline") 
                                |Giới Thiệu <i class="fa-regular fa-circle-play"></i>
                            
                            a(href="#" class="button") Khám Phá Ngay
                .section-1__image
                        img(src="assets/Img/section-1_bg7.svg" class="section-1__bg7" alt="")
                        img(src="assets/Img/section1_bg3.svg" class="section-1__bg3" alt="")
                        img(src="assets/Img/section1_Image-1.png" class="section-1__image-main" alt="")
                        img(src="assets/Img/section-1_Image_main2.png"  class="section-1__image-main2")
                        img( src="assets/Img/section-1_bg4.svg" class="section-1__bg4" alt="")
                        img(src="assets/Img/section-1_bg5.svg" class ="section-1__bg5" alt="")
                        img(src="assets/Img/section-1_bg6.svg" class ="section-1__bg6" alt="") 
                img(src="assets/Img/section-1_bg2.svg" class="section-1__bg2" alt="")
    //End section-1

    //section-2
    section.section-2
            .container
                .box-head
                    .section-2__iteamleft
                        .section-2__title Có gì mới?
                        
                        h2.section-2__subtitle  một số vật nuôi của chúng tôi
                        
                   
                    .section-2__itemright
                        a(href="#" class="button button--outline") 
                           | Xem thêm  <i class="fa-solid fa-angle-right"></i>
                      
                  
               
                .section-2__wrap
                    .product-item
                        .section-2__image
                            a(href="#") 
                                img(src="assets/Img/section-2_product1.jpg" alt="")
                                  
                    
                        .section-2__content
                            h3.section-2__ptitl
                                |MO231 - Pomeranian Trắng
                            
                            .section-2__desc
                                .section-2__descleft
                                    .section-2__gender
                                        |Giống:
                                    
                                    .section-2__namegender
                                        |Đực
                                   
                                
                                .section-2__dos

                                .section-2__desc-right
                                    .section-2__age
                                        |Tuổi
                                   
                                    .section-2__nage 02 tháng
                                
                           
                            .section-2__price 6.900.000 VND
                   
                
                
                
                
                
             
                .section-2__button-bottom
                    a(href="#" class="button button-outline") Xem thêm <i class="fa-solid fa-angle-right"></i>
    //End section-2

    //section-3
    section.section-3
            .container
                .section-3__wrap
                
                    img( src="assets/Img/section-3_bg3.svg" alt="" class="section-3__bg3")
                    img(src="assets/Img/section-3_bg1.svg" alt="" class="section-3__bg1") 
                    .section-3__image-main
                        img(src="assets/Img/section-3_Image_main.png" alt="")
                    
                    .section-3__content
                        h1.section-3__title
                            |    Thêm Một Bạn
                        
                        h2.section-3__subtitle
                          |  Thêm Ngàn Niềm Vui!
                       
                        p.section-3__desc
                        |    Có một con thú cưng đồng nghĩa với việc bạn có thêm niềm vui mới. Chúng tôi có hơn 200 con thú cưng khác nhau có thể đáp ứng nhu cầu của bạn!
                        
                        .section-3__buttons
                            a(href="#" class="button button--outline")
                                |Giới Thiệu <i class="fa-regular fa-circle-play"></i>
                            
                            a(href="#" class="button")
                             |     Khám Phá Ngay
                           
                  
                    img(src="assets/Img/section-3_bg2.svg" alt="" class="section-3__bg2")
                    img(src="assets/Img/section-3_bg4.svg" alt="" class="section-3__bg4")
          
    //End section-3

    //Section-4
    section.section-4
            .container
                .box-head
                    .section-4__iteamleft
                        .section-4__title
                            |Có thể bạn đã biết?
                        
                        h2.section-4__subtitle
                            |Kiến thức thú cưng hữu ích
                        
                    
                    .section-4__itemright
                        a( href="#" class="button button--outline")
                            |Xem thêm <i class="fa-solid fa-angle-right"></i>
                        
             
                .section-4__wrap
                    .product-item
                        .section-4__image
                            a(href="#")
                                img(src="assets/Img/section-4_Image1.png" alt="") 
                       
                        .section-4__content
                            .section-4__tag
                               | Kiến thức thú cưng
                           
                            .section-4__suggest
                               | Pomeranian là gì? Cách nhận biết chó Pomeranian
                          
                            .section-4__desc
                              |  Pomeranian hay còn gọi là chó Pomeranian (chó Pom) luôn nằm trong top những thú cưng dễ thương nhất. Không chỉ vậy, giống chó xiếc nhỏ nhắn, đáng yêu, thông minh, thân thiện và khéo léo.
                   
                .section-4__button-bottom-sc4
                    a(href="#" class="button button--outline")
                    |Xem thêm <i class="fa-solid fa-angle-right"></i>
                    

         
    //End section-4 