mixin breadcrumb(list,Class)
    nav.box-breadcrumb 
        div(class=Class)
            ul.box-breadcrumb__list
                each item in list 
                    li.box-breadcrumb__item 
                        a(href=item.link class="box-breadcrumb__link") #{item.title}
                        <i class="fa-solid fa-angle-right"></i> 